<div class="col-xs-12">
  <% unless current_user.customer? %>
  <%= link_to "Create New Pet", new_pet_type_path, :class => "btn btn-info btn-xs pull-right"%>
  <% end %>
  
  <div class="widget-box">
    <div class="widget-title">
      <span class="icon"><i class="fa fa-th"></i></span>
      <h5>Listing Pet Types</h5>
    </div>


    <div class="widget-content nopadding">
      <table class="table table-striped table-hover data-table dataTable">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @pet_types.each do |pet_type| %>
          <tr>
            <td><%= pet_type.name %></td>
            <td><%= link_to 'Show', pet_type %></td>
            <td><%= link_to 'Edit', edit_pet_type_path(pet_type) %></td>
            <td><%= link_to 'Destroy', pet_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br />


