<%= render "shared/error_msg", {:model_obj => @role} %>
<%= form_for(@role) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
